<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        body {
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand px-5" href="{% url 'dashboard' %}">Payroll Management</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                {% if user.is_staff %}
                <li class="nav-item nav-item active">
                    <a href="{% url 'select_employee' %}" class="nav-link"><i class="fa fa-user-check"></i> Select Employee</a>
                </li>
                <li class="nav-item nav-item">
                    <a href="{% url 'register_employee' %}" class="nav-link"><i class="fa fa-user-plus"></i> Register Employee</a>
                </li>
                {% endif %}
            </ul>
            <!-- Move Logout button to the right -->
            <div class="ml-auto">
                <a href="{% url 'logout' %}" class="btn btn-secondary"><i class="fa fa-sign-out-alt"></i> Logout</a>
            </div>
            {% endif %}
        </div>
    </nav>
    
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
