{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-file-invoice-dollar"></i> Payroll Input for <strong> {{ employee.name }} </strong>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="p-3 mb-3 row bg-light rounded mx-auto">
                        <div class="col-6">
                            <p><strong><i class="fa fa-briefcase"></i> Position:</strong> {{ employee.position }}</p>
                            <p><strong><i class="fa fa-credit-card"></i> TIN Number:</strong> {{ employee.tin_number }}</p>
                        </div>
                        <div class="col-6">
                            <p><strong><i class="fa fa-calendar"></i> Employment Date:</strong> {{ employee.employment_date }}</p>
                            {% if employee.separation_date %}
                            <p><strong><i class="fa-solid fa-calendar-days"></i> Separation Date:</strong> {{ employee.separation_date }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-4 col-md-6 col-12">
                                <h4>
                                    <i class="fas fa-wallet"></i> Payroll Details
                                </h4>
                                <div class="p-3 bg-light rounded">
                                    {% for field in payroll_form %}
                                    <div class="row mb-2 align-items-center">
                                        <label class="col-sm-5 col-form-label">{{ field.label }}</label>
                                        <div class="col-sm-7">
                                            {{ field }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="mb-4 col-md-6 col-12">
                                <h4>
                                    <i class="fas fa-chart-line"></i> KPI Details
                                </h4>
                                <div class="p-3 bg-light rounded">
                                    {% for field in kpi_form %}
                                    <div class="row mb-2 align-items-center">
                                        <label class="col-sm-5 col-form-label text-center">{{ field.label }}</label>
                                        <div class="col-sm-7">
                                            {{ field }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-secondary py-2 mt-3">
                                        <i class="fas fa-calculator"></i> Calculate Payroll
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
